.banner {
   max-height: 400px;
   position: relative;
   i {
      position: absolute;
      right: 140px;
      bottom: 60px;
      font-family: $play;
      font-size: 40px;
      max-width: 400px;
      color: $white;
   }
}

@media screen and (max-width: 990px) {
   .banner i {
      left: 0;
      right: 0;
      margin: 0 auto;
   }
}

@media screen and (max-width: 600px) {
   .banner i {
      font-size: 30px;
      text-align: center;
   }
}
