// better box-sizing
*,
*::after,
*::before {
   box-sizing: border-box;
}

body {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0;
   font-family: $muli;
   color: $black;
}

// responsive image
img {
   width: 100%;
   height: auto;
}

.container {
   padding-left: 60px;
   padding-right: 60px;
   margin: 0 auto;
   display: flex;
}

section {
   padding: 35px 0;
}

// button
.btn {
   width: 100%;
   background: $green;
   color: $white;
   text-transform: uppercase;
   text-align: center;
   padding: 20px 10px;
   border: none;
   cursor: pointer;
}

a:hover,
.btn:hover {
   opacity: 0.8;
}

// form
input,
textarea {
   width: 100%;
   border: 2px solid $black;
}

@media screen and (max-width: 990px) {
   section {
      padding: 20px 0;
   }
}
