header {
   position: sticky;
   top: 0;
   z-index: 1;
   background: rgba(255, 255, 255, 0.483);
}

nav {
   padding: 20px 0;
   justify-content: center;
   ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
         display: inline;
         padding: 5px;
         transition: 1s all ease;
         &:hover {
            background: $green;
         }
         a {
            text-decoration: none;
            font-family: $play;
            color: $black;
            margin: 0 50px;
         }
      }
   }
}

@media screen and (max-width: 990px) {
   nav ul li {
      display: block;
      margin-bottom: 10px;
      text-align: center;
   }
}
